.heading {
	color: red;
}

.phone {
	padding: 4px;
	border: 10px solid black;
	background-color: rgb(221, 221, 221);
	border-radius: 15px;
}

#form1 {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	width: 85%;
	height: 250px;
	justify-content: space-between;
	padding: 8px;
	background-color: white;
	border-radius: 12px;
	box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.5);
}

/* h1{}

h1.heading{}

h1#heading{} */
